{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Font-Awesome -->
    <script src="https://kit.fontawesome.com/8ecbd9fd90.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800;900&family=Ubuntu&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href={% static "home.css" %} type="text/css">
    <title>Products</title>
</head>

<body>

    <!-- Navbar -->
    <section id="title-page">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">Ecommerce</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/products">Products <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    </ul>

                    <!-- <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->

                </div>
            </nav>
        </div>
    </section>


    {% block content %}
    <div class="container-fluid">
        <div class="row">

            {% for obj in object_list %}
            <div class="col">
                {% if obj.image %}
                <section id="cards">


                    <div class="card" style="width: 18rem;">


                        <img class="card-img-top" src="{{ obj.get_img }}" alt="Card image cap" id="list_img">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ obj.title }}</h5>
                            <p class="card-text">{{ obj.description }}</p>
                            <a href="{{ obj.get_absolute_url }}" class="btn btn-danger">View</a>
                        </div>
                    </div>

            </div>
            {% endfor %}
        </div>
    </div>
    </section>
    {% endblock %}
</body>

</html>